:root {
  --cor1: #ffffff;
  --cor2: #fafbfc;
  --cor3: #000000;
  --cor4: #b07dfb;

  --bg1: #ffffff;
  --bg2: #fafbfc;
  --bg3: linear-gradient(135deg, #8844ee, #b07dfb);
}

.cor1 {
  color: var(--cor1);
}
.cor2 {
  color: var(--cor2);
}
.cor3 {
  color: var(--cor3);
}
.cor4 {
  color: var(--cor4);
}

.bg1 {
  background: var(--bg1);
}
.bg2 {
  background: var(--bg2);
}
.bg3 {
  background: var(--bg3);
}
