h1,
h2,
h3,
h4,
a,
p,
ul,
li,
body,
span,
blockquote {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
body {
  font-family: "vollkorn", georgia, sans-serif;
}
p {
  font: var(--p);
  letter-spacing: -0.005em;
  color: rgba(0, 0, 0, 0.7);
}
